[submodule "NOCS_CVPR2019"]
    path = networks/NOCS_CVPR2019
    url = https://github.com/hughw19/NOCS_CVPR2019

[submodule "bts"]
    path = networks/bts
    url = https://github.com/cogaplex-bts/bts

[submodule "DenseDepth"]
    path = networks/DenseDepth
    url = https://github.com/ialhashim/DenseDepth

    