# File-Type Ignore

*.pth
*.h5
*.hdf5
*.zip
*.json
*.obj
*.vscode
*.so

# Folder-Type Ignore 
build/
logs/
logs2/
logs*/
__pycache__/
test_output/

# Path-Specific Ignore

/downloads
**/bts/logs
**/DenseDepth/logs
**/NOCS_CVPR2019/data
**/tests_output

/networks/NOCS_CVPR2019/__pycache__
/networks/DenseDepth/Tensorflow/__pycache__

/tutorials

